%h3 Connect Four
= form_tag games_path do
	= label_tag :player_one, "Player 1 Name (Blue):"
	= text_field_tag :player_one, nil, required: true
	%br
	%br
	= label_tag :player_two, "Player 2 Name (Red):"
	= text_field_tag :player_two, nil, required: true
	%br
	%br
	= submit_tag "Start Game"